@media (hover: hover) {
  .cursor-glow {
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(238,174,202,0) 100%);
    background: radial-gradient(circle, rgba(100, 233, 238, 0.05) 0%, rgba(238,174,202,0) 50%, rgba(238,174,202,0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    position: fixed;
  }
}
