@import "cssVars.css";
.decreaseWidth {
  transform: scaleX(0);
}

.rotateFirst {
  transform: translateY(5vw) rotate(45deg);
}

.rotateThird {
  transform: translateY(-5vw) rotate(-45deg);
}

.burger {
  display: none;
  padding: 5vw;
}
.burger__bar {
  transition: 0.2s ease-out;
  width: 15vw;
  height: 2vw;
  background-color: #fff;
  outline: 0.01vw solid grey;
}
.burger__bar:nth-child(2n) {
  margin: 3vw auto;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.section {
  padding: 5vw;
}
.section__title {
  font-size: 5vh;
  margin: 5vh;
  color: var(--sectionTitle);
  text-align: center;
}
.section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBg);
  box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.5);
  transition: top 0.2s ease;
}

.hidden {
  visibility: hidden;
}

.logo__container {
  padding: 10px 20px;
  min-width: fit-content;
  text-align: center;
  background-color: var(--logoBg);
  color: var(--logoText);
}

.navigation {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  width: 100%;
  line-height: 75px;
  flex: 1;
  text-align: center;
  color: var(--headerText);
}
.navigation a:hover {
  background-color: var(--headerBgHover);
  text-decoration: none;
}

.projects {
  background-color: var(--sectionBg);
}
.card {
  margin: 50px;
  min-width: 400px;
  height: 80vh;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}
.card__preview {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.card__preview > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.card__filter {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.card__filter:hover {
  opacity: 0.5;
}
.card__btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skills {
  background-color: var(--sectionBgSecond);
}
.skills__icons svg {
  width: 100px;
  margin: 30px;
  transition: transform 0.1s ease-out;
}
.skills__icons svg:hover {
  transform: scale(1.08);
}
.skills__icons img {
  width: 30px;
}

.socials {
  background-color: var(--sectionBg);
}
.socials__icons a {
  margin: 10px;
  transition: transform 0.1s ease-out;
}
.socials__icons a:hover {
  transform: scale(1.08);
}
.socials__icons svg {
  width: 100px;
  height: 100px;
}

#github {
  fill: var(--sectionTitle);
}

@media (max-width: 1000px) {
  .logo__container {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation a {
    font-size: 5vh;
    margin: 1vh;
  }
  header {
    height: 100vh;
    align-items: flex-end;
  }
  .burger {
    z-index: 1000;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  section {
    width: 100%;
  }
  .projects__container {
    padding-top: 0;
  }
  .skills {
    padding-top: 5vh;
  }
  .skills__icons {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .skills__icons svg {
    width: 30%;
    margin: 30px;
    transition: transform 0.1s ease-out;
  }
  .skills__icons svg:hover {
    transform: scale(1.08);
  }
  .skills__icons img {
    width: 30px;
  }
  .socials {
    padding-top: 5vh;
  }
  .socials__icons {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .socials__icons a {
    margin: 10px;
    transition: transform 0.1s ease-out;
  }
  .socials__icons a:hover {
    transform: scale(1.08);
  }
  .socials__icons svg {
    width: 100px;
    height: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
