.decreaseWidth {
  transform: scaleX(0);
}

.rotateFirst {
  transform: rotate(45deg) translateY(30px) translateX(30px);
  width: 120px;
}

.rotateThird {
  transform: rotate(-45deg) translateY(-30px) translateX(30px);
  width: 120px;
}

.burger {
  display: none;
  padding: 5vw;
}
.burger__bar {
  transition: 0.3s ease-out;
  width: 15vw;
  height: 2vw;
  background-color: #fff;
  outline: 1px solid black;
}
.burger__bar:nth-child(2n) {
  margin: 3vw auto;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

section {
  padding: 5vw;
}
section h1 {
  font-size: 5vh;
  color: darkorange;
  text-align: center;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.5);
  transition: top 0.3s ease;
}

.hidden {
  visibility: hidden;
}

.logo__container {
  padding: 10px 20px;
  min-width: fit-content;
  text-align: center;
  background-color: darkorange;
  border-radius: 0 20px 20px 0;
}

nav {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}
nav a {
  width: 100%;
  line-height: 75px;
  flex: 1;
  text-align: center;
  color: white;
}
nav a:hover {
  background-color: #111;
  text-decoration: none;
}

.projects {
  background-color: #404040;
}
.projects__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  margin: 50px;
  min-width: 500px;
  height: 80vh;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}
.card__preview {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.card__preview > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.card__filter {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.card__filter:hover {
  opacity: 0.5;
}
.card__btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skills {
  background-color: #161616;
}
.skills__title {
  color: darkorange;
  text-align: center;
}
.skills__icons {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills__icons svg {
  width: 100px;
  margin: 30px;
  transition: transform 0.1s ease-out;
}
.skills__icons svg:hover {
  transform: scale(1.08);
}
.skills__icons img {
  width: 30px;
}

.socials {
  background-color: #fff;
}
.socials__title {
  color: darkorange;
  text-align: center;
}
.socials__icons {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.socials__icons a {
  margin: 10px;
  transition: transform 0.1s ease-out;
}
.socials__icons a:hover {
  transform: scale(1.08);
}
.socials__icons svg {
  width: 100px;
  height: 100px;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .logo__container {
    display: none;
  }
  nav {
    flex-direction: column;
    height: 100vh;
  }
  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 110%;
    font-size: 5vh;
  }
  header {
    height: 100vh;
  }
  .burger {
    z-index: 1000;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  section {
    padding: 0;
  }
  .card__preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .card__preview > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .card__filter {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  .card__filter:hover {
    opacity: 0.5;
  }
  .card__btns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skills {
    padding-top: 5vh;
  }
  .skills__icons {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .skills__icons svg {
    width: 30%;
    margin: 30px;
    transition: transform 0.1s ease-out;
  }
  .skills__icons svg:hover {
    transform: scale(1.08);
  }
  .skills__icons img {
    width: 30px;
  }
  .socials {
    padding-top: 5vh;
  }
  .socials__icons {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .socials__icons a {
    margin: 10px;
    transition: transform 0.1s ease-out;
  }
  .socials__icons a:hover {
    transform: scale(1.08);
  }
  .socials__icons svg {
    width: 100px;
    height: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
